* {
  margin: 0;
  padding: 0;
}

main {
 background-color: #EDEFEE;
 color: #333333;
}

img {
  border-radius: 25px;
}

img.logo {
  border-radius: 0px;
}

.bannerImage{
  border-radius: 0px;
}

li {
  list-style-type: none;
}

a {
  color :#495E57;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

nav ul {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space:nowrap;
}

nav a {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

nav li:first-child {
  margin-right: auto;
  padding: 0px;
  padding-left: 0px;
  padding-right: 0px;
  float: left;
  left: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuButton {
  display: none;
}

@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menuButton{
    display: block;
  }
}

.sidebar {
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #edefeec5;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.sidebar li {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.sidebar li:first-child{
  padding-top: 5px;
  text-align: right;
}


.banner {
  padding: 10px;
  background-color: #495E57;
  color: #EDEFEE;
  display:block;
}

@media (min-width:800px) {
  .banner {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

.banner div {
  padding: 20px;
}

.banner h1 {
  font-size: 30pt;
  color: #F4CE14;
}

.banner p {
  padding: 10px 20px;
}

button {
  background-color: #F4CE14;
  color: #495E57;
  border: none;
  font-size: 29px;
  border-radius: 5px;
  float : right;
  padding: 5px 20px;
  margin-top: auto;
  margin-bottom: 15px;
}

.reserveTable h1 {
  font-size: 30pt;
  color: #495E57;
}

.reserveTable div {
  padding: 20px;
}

.reserveTable label {
  font-size: 16pt;
  color: #333333;
  padding: 20px;
}

.inputdiv input {
  font-size: 16pt;
  background-color:#495E57;
  color: #EDEFEE;
  border-radius: 5px;
  padding: 2px 10px;
  color-scheme: dark;
  width: 70%;
}

.inputdiv label {
  width: 15%;
  min-width: 100px;
  display: inline-block;
}

.longlabel {
  width: 150px;
}

.checkbox {
  width: 20px;
}

.requestbox{
  font-size: 16pt;
  background-color:#495E57;
  color: #EDEFEE;
  border-radius: 5px;
  padding: 2px 10px;
  color-scheme: dark;
  margin-top: -50px;
  margin-left: 20px;
  height: 80px;
  width: 87%;
}

.reserveTable select {
  font-size: 16pt;
  background-color:#495E57;
  color: #EDEFEE;
  border-radius: 5px;
  border-color: #495E57;
  padding: 2px 10px;
  width: 73%;
}

input.submitButton {
  font-size: 20pt;
  color: #495E57;
  background-color: #F4CE14;
  border-color: #F4CE14;
  padding: 5px 60px;
  border-radius: 10px;
}

.divSubmitButton {
  text-align: center;
}

.confirmation{
  padding: 20px;
  text-align: center;
  color: #495E57;
}

.confirmation h1 {
  font-size: 45pt;
  margin: 10px;
}

.confirmation h2 {
  font-size: 30pt;
  margin: 20px;
}

.dishes {
  text-align: center;
}

.dishes h2 {
  font-size: 25pt;
  color: #495E57;
}

.dishes h4 {
  font-size: 20pt;
  color: #495E57;
  margin-bottom: 5px;
}

ul.dishes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.dishes li{
  margin: 15px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: #F4CE14;
  flex: 1;
  flex-basis: 25%;
}

@media (max-width:500px) {
  ul.dishes li{
    margin: 15px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: #F4CE14;
    flex: 1;
    flex-basis: 80%;
  }
}

.contactus {
  padding: 20px;
  background-color: #495E57;
  color: #EDEFEE;
  text-align: center;
}

.contactus h2 {
  font-size: 30pt;
}

.mailto {
  color: #EDEFEE;
  text-decoration: underline;
}

footer {
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  background-color: #F4CE14;
  color: #495E57;
  text-align: center;
}

.footerlinks{
  margin: 0px;
  padding: 0px;
  column-gap: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footersection {
  padding: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

.footersection img {
  padding-top: 15px;
}

.copyright {
  padding: 2px;
  background-color: #d7b60f;
  color: #EDEFEE;
}